# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Environment variables
*.env

# Database files
*.sqlite3
*.db

# Uploads
uploads/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Session
flask_session/

setup_env.sh